<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <!-- Bootstrap your angular application with ng-app -->
  <body ng-app>

    <div class="container-fluid">
      <div class="row" ng-init="friends = [
      {name: 'Victor', lastName: 'Rodriguez', phone: '555-123-9999'},
      {name: 'Miguel', lastName: 'Doe', phone: '555-456-9999'},
      {name: 'Jose', lastName: 'Martinez', phone: '555-789-9999'},
      {name: 'Rosa', lastName: 'Merleño', phone: '555-000-9999'}
      ]">
      <div class="col-xs-6 col-xs-offset-3">
        <h1>Friends list</h1>
        <div class="row">
          <div class="col-xs-12">
            <form ng-submit="" role="form">
              <div class="form-group">
                <label for="filter">Search</label>
                <input type="text" name="filter" ng-model="searchText">
              </div>
            </form>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last Name</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="friend in friends | filter:searchText">
              <td>{{ friend.name }}</td>
              <td>{{ friend.lastName }}</td>
              <td>{{ friend.phone }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


    <!-- Don't delete this is part of the grunt plugins to automatically inject dependencies -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- endbuild -->
  </body>
</html>
