<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <!-- Bootstrap your angular application with ng-app -->
  <body ng-app="angularWarmupApp">

    <div class="container-fluid" ng-controller="FriendsController">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <h1>Friends list</h1>
          <div class="row">
            <div class="col-xs-12">
              <form ng-submit="" role="form" class="form-inline">
                <div class="form-group">
                  <label for="filter">Search</label>
                  <input type="text" name="filter" ng-model="searchText.$" placeholder="By Any property">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="searchText.name" placeholder="By Name">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="searchText.lastName" placeholder="By Last Name">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="searchText.phone" placeholder="By Phone">
                </div>
              </form>
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Name reversed</th>
                <th>Name reversed and uppercased</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="friend in friends | filter:searchText">
                <td>{{ friend.name }}</td>
                <td>{{ friend.lastName }}</td>
                <td>{{ friend.phone }}</td>
                <td>{{ friend.name | reverse }}</td>
                <td>{{ friend.name | reverse:'true'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 well">
          <h2>Add a friend to your list!</h2>
          <form ng-submit="addFriend()" class="form-horizontal">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" ng-model="tempFriend.name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" name="lastName" ng-model="tempFriend.lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" name="phone" ng-model="tempFriend.phone" placeholder="Phone">
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-info">Add</button>
          </form>
        </div>
      </div>
    </div>


    <!-- Don't delete this is part of the grunt plugins to automatically inject dependencies -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/filters/reverse.js"></script>
    <script src="scripts/controllers/friends.js"></script>
    <!-- endbuild -->
  </body>
</html>
